HELP.md
.gradle
gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
gradlew.bat
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/out/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.*
*.iml
*.ipr
*.iws
*.class
*.orig
bin/
build/
target/
catalina.base_IS_UNDEFINED/
/rules/
!/.gitignore
out/
/gradlew