<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="accesslog">
    <div class="jumbotron">
        <div class="panel-heading">
            <h4><a th:text="'AccessLog(id:'+${object.id}+')'" th:href="@{'/accesslog/' + ${object.id}}">Title</a></h4>
            <div style="float:left; margin:3px;" th:text="' timestamp:  ' + ${#dates.format(object.timestamp, 'dd-MM-yyyy  HH:MM')}"></div>
            <div sec:authorize="isAuthenticated()" >
                <div class="row">
                    <a th:href="@{'/edit/accesslog/{id}'(id=${object.id})}" class="col-md-2">
                        <button type="button" class="btn btn-primary btn-blockDtos" th:text="Edit">Edit</button>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="panel-body">
            <h6 th:text="'Source Ip: '+ ${object.sessionDto.ip}" >Source Ip</h6>
            <h6 th:text="'Size: '+${object.responseDto.size}">Size</h6>
            <h6 th:text="'Type: '+${object.type}">Type</h6>
            <h6 th:text="'User Id: '+${object.userId}">User Id</h6>
            <h6 th:text="'User Agent: '+${object.sessionDto.browser}">User Agent</h6>
            <h6 th:text="'Referrer: '+${object.referer}">Referrer</h6>
            <h6 th:text="'Http Method: '+${object.requestDto.method}" >Http method</h6>
            <h6 th:text="'Resource: '+${object.requestDto.resource}">Resource</h6>
            <h6 th:text="'Status: '+${object.responseDto.status}">Status</h6>
        </div>
    </div>

</div>
</body>
</html>
