<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="movie">
    <div class="jumbotron">
        <div class="panel-heading">
            <h2><a th:text="${movie.title}" th:href="@{'/movie/' + ${movie.id}}">Title</a></h2>
            <div style="float:left; margin:3px;" th:text="'Posted by'"></div>
            <a style="float:left; margin:3px" th:text="${movie.client.email}" th:href="@{'/movies/' + ${movie.client.id}}"></a>
            <div style="float:left; margin:3px;" th:text="' at  ' + ${#dates.format(movie.createdAt, 'dd-MM-yyyy  HH:MM')}"></div>
            <div sec:authorize="isAuthenticated()" th:if="${email}">
                <div class="row">
                    <a th:href="@{'/edit/movie/{id}'(id=${movie.id})}" class="col-md-2">
                        <button type="button" class="btn btn-primary btn-blockDtos" th:text="Edit">Edit</button>
                    </a>

                </div>
            </div>
        </div>
        <hr />
        <h4 class="panel-body" th:text="${movie.description}">Body</h4>
        <br>
        <div th:replace="/fragments/reactions :: reactions"/>
    </div>

</div>
</body>
</html>
