<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="reactions">
    <div class="row">
        <div sec:authorize="isAuthenticated()">
            <a th:hidden="${movie.client.email == #authentication.getName() || movie.isLikedByClient(#authentication.getName())}" th:href="@{'/react/movie/{id}'(id=${movie.id}, reaction='like')}" class="col-md-2">
                <button type="button" class="btn btn-info btn-blockDtos" th:text="'Like('+${movie.likeCount}+')'">Like</button>
            </a>
            <a th:disabled="true" th:hidden="${movie.client.email != #authentication.getName()}" class="col-md-2">
                <button th:disabled="true" type="button" class="btn btn-dark btn-blockDtos" th:text="'Likes('+${movie.likeCount}+')'">Like</button>
            </a>
            <a th:hidden="${!movie.isLikedByClient(#authentication.getName())}" th:href="@{'/react/movie/{id}'(id=${movie.id}, reaction='null')}" class="col-md-2">
                <button type="button" class="btn btn-light btn-blockDtos" th:text="'Liked('+${movie.likeCount}+')'">Like</button>
            </a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:hidden="${movie.client.email == #authentication.getName() || movie.isDislikedByClient(#authentication.getName())}" th:href="@{'/react/movie/{id}'(id=${movie.id}, reaction='dislike')}" class="col-md-2">
                <button type="button" class="btn btn-danger btn-blockDtos" th:text="'Dislike('+${movie.dislikeCount}+')'">Dislike</button>
            </a>
            <a th:disabled="true" th:hidden="${movie.client.email != #authentication.getName()}" class="col-md-2">
                <button th:disabled="true" type="button" class="btn btn-dark btn-blockDtos" th:text="'Dislikes('+${movie.dislikeCount}+')'">Dislike</button>
            </a>
            <a th:hidden="${!movie.isDislikedByClient(#authentication.getName())}" th:href="@{'/react/movie/{id}'(id=${movie.id}, reaction='null')}" class="col-md-2">
                <button type="button" class="btn btn-light btn-blockDtos" th:text="'Disliked('+${movie.dislikeCount}+')'">Dislike</button>
            </a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:disabled="true" class="col-md-2"><button th:disabled="true" type="button" class="btn btn-dark btn-blockDtos" th:text="'Likes  '+${movie.likeCount}">Like</button></a>
            <a th:disabled="true" class="col-md-2"><button th:disabled="true" type="button" class="btn btn-dark btn-blockDtos" th:text="'Dislikes  '+${movie.dislikeCount}">Dislike</button></a>
        </div>

    </div>

</div>
</body>
</html>
