<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>
<div class="container">
    <form autocomplete="off" action="#" th:action="@{/home}" method="post" class="form-horizontal" role="form">
        <h2 class="text-center">Logs</h2>
        <div class="form-group">
            <p><input type="text" name="search" th:value="*{search}" placeholder="Search by IP" class="form-control input-lg"/> <input type="submit" class="btn btn-primary btn-block" value="Search"/></p>
        </div>
    </form>
    <div th:replace="/fragments/logDtoList :: logDtoList"></div>
    <div th:replace="/fragments/pagination :: pagination(URLparameter='/home')"></div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>
